@import '../../../styles/Main.scss';

.myInput{
     @include block(100%, 61px);
     @include text($color_second, 1rem, 400, 21.79px, left);
     background-color: $background_third;
     border-radius: 30px;
     border: none;
     padding: 0 16px 0 16px;

     &:focus { 
        border-color: none; 
        outline: none; 
    }

    &::placeholder{
        @include text($color_second, 1rem, 400, 21.79px, left);
    }

    &::-webkit-input-placeholder {
        @include text($color_second, 1rem, 400, 21.79px, left);
    }

    &::-moz-placeholder {
        @include text($color_second, 1rem, 400, 21.79px, left);
    }/* Firefox 19+ */
    
    &:-moz-placeholder {
        @include text($color_second, 1rem, 400, 21.79px, left);
    }/* Firefox 18- */

    &:-ms-input-placeholder {
        @include text($color_second, 1rem, 400, 21.79px, left);
    }
}



