@import '../Main.scss';

.service {
	@include blockContent(270px, 150px, 0, flex, center, space-between);
	flex-direction: column;
	text-decoration: none;
	border-radius: 15px;
	padding: 23px;
	cursor: pointer;
	background-color: rgba(30, 30, 30, 1);
	@media (max-width: 700px) {
		width: 280px;
		height: 130px;
		margin: 30px auto 0 auto;
	}

		&:hover &__text{
			background: linear-gradient(91.26deg, $corporate_color 0.62%, $second_corporate_color 99.49%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&:hover {
			// border: 2px solid linear-gradient(91.26deg, $corporate_color 0.62%, $second_corporate_color 99.49%);
			border: 2px solid $corporate_color;
		}

		&__title {
			width: 100%;
			height: auto;
		}

		&__text {
			@include text($color_second, 1rem, 700, 19.5px, left);
		}

		&__block {
			@include blockContent(100%, auto, 0, flex, center, space-between);
		}

		&__deadline {
			width: 50%;
			height: auto;
		}

		&__price {
			width: 50%;
			height: auto;
		}
}
