@import '../Main.scss';

.aboutWork{
	@include blockContent(100%, auto, auto, flex, center, space-between);
	padding-top: 105px;
	flex-direction: column;
	background: linear-gradient(93.53deg, #292929 49%, #3C3C3C 98.16%);
	position: relative;
	background-image: url('../../images/background/fonAboutWork.png');
	background-repeat: no-repeat;
	background-size: cover;

	&__wrapper-model{
		@include blockContent(100%, 1115px, 205px 0 0 0, flex, center, space-between);
		flex-direction: column;
	}

	&__image-first{
		@include blockContent(370px, auto, auto, flex, center, space-between);
		position: absolute;
		left: 0;
		top: 120px;
		z-index: 1;
		@media (max-width: 700px) {
			display: none;
		}
	}

	&__image-first>img{
		width: 100%;
		height: auto;
	}

	&__image-two{
		@include blockContent(430px, auto, 0, flex, center, space-between);
		position: absolute;
		right: 0;
		top: 2250px;
		z-index: 1;
		@media (max-width: 700px) {
			display: none;
		}
	}

	&__image-two>img{
		width: 100%;
		height: auto;
	}
}