@import "../Main.scss";

.contacts-form {
  width: 100%;
  height: auto;
  background: linear-gradient(93.53deg, #292929 49%, #3c3c3c 98.16%);
  background-image: url("../../images/background/reviews.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.45);
}
