@import '../Main.scss';

.reviews{
	width: 100%;
	height: 464px;
	padding: 79px 0 0px 0;
	background: linear-gradient(93.53deg, #292929 49%, #3C3C3C 98.16%);
	background: linear-gradient(93.53deg, #292929 49%, #444444 98.16%);
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.45);

	&__wrapper{
		@include blockContent($size_main_blocks, 320px, auto, flex, center, space-between);
		flex-direction: column;
		@media (max-width: 1380px) {
		&{
			width: 95%;
		}
	}
	}
}