// @import '../fonts/static/OpenSans-Bold.ttf';
// @import '../fonts/static/OpenSans-ExtraBold.ttf';
// @import '../fonts/static/OpenSans-Light.ttf';
// @import '../fonts/static/OpenSans-Medium.ttf';

$background_first: rgba(41, 41, 41, 1);
$background_second: rgba(60, 60, 60, 1);
$background_third: rgba(30, 30, 30, 1);
$background_fourth: rgba(68, 68, 68, 1);
$background_fifth: rgba(28, 28, 29, 1);
$corporate_color: rgba(0, 165, 80, 1);
$second_corporate_color: rgba(0, 255, 124, 1);
$color_first: rgba(255, 255, 255, 1);
$color_second: rgba(189, 189, 189, 1);
$size_main_blocks: 75%;
// $font_style: ;

@mixin block($width, $height) {
    width: $width;
    height: $height;
}

@mixin blockContent($width, $height, $margin, $display, $alignItems, $justifyContent) {
    width: $width;
    height: $height;
    margin: $margin;
    display: $display;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin text ($color, $fontSize, $fontWeight, $lineHeight, $textAlign){
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    text-align: $textAlign;
    font-family: "Open Sans", sans-serif;
    src: local('Lato'), url(../fonts/static/OpenSans-Bold.ttf) format('truetype');
    src: local('Lato'), url(../fonts/static/OpenSans-Light.ttf) format('truetype');
    src: local('Lato'), url(../fonts/static/OpenSans-Medium.ttf) format('truetype');
}

@mixin select($width, $height, $color, $fontSize, $lineHeight, $padding, $backgroundColor, $border, $borderRadius){
    width: $width;
    height: $height;
    color: $color;
    font-size: $fontSize;
    line-height: $lineHeight;
    padding: $padding;
    background-color: $backgroundColor;
    border:$border;
    border-radius: $borderRadius;
    font-family: "Open Sans", sans-serif;
    src: local('Lato'), url(../fonts/static/OpenSans-Bold.ttf) format('truetype');
    src: local('Lato'), url(../fonts/static/OpenSans-Light.ttf) format('truetype');
    src: local('Lato'), url(../fonts/static/OpenSans-Medium.ttf) format('truetype');
}