@import '../Main.scss';

.form-wrapper {
	@include blockContent(
		$size_main_blocks,
		100%,
		auto,
		flex,
		center,
		space-between
	);
	padding-top: 114px;
	padding-bottom: 100px;
	flex-direction: column;
	@media (max-width: 1380px) {
		width: 95%;
	}
	@media (max-width: 1200px) {
		width: $size_main_blocks1200;
		padding-top: 60px;
		padding-bottom: 38px;
		margin-bottom: 38px;
	}
	@media (max-width: 700px) {
		padding-top: 45px;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}

		&__title{
			width: 900px;
			@media (max-width: 1380px) {
				width: 100%;
			}
		}

		&__title-small{
			width: 600px;
			@media (max-width: 1380px) {
				width: 100%;
			}
			@media (max-width: 700px) {
				margin-bottom: 20px;
			}
		}

		&__form{
			width: 100%;
		}
	}


