@import '../Main.scss';

.banner {
	@include blockContent($size_main_blocks, 563px, auto, flex, center, space-between);
		@media (max-width: 1380px) {
			&{
				width: 95%;
			}
		}
		@media (max-width: 1200px) {
			flex-direction: column;
		}

		&__block-info {
			@include blockContent(50%, auto, 0px, flex, center, space-between);
			flex-direction: column;
			@media (max-width: 1200px) {
				order: 2;
			}
		}

		&__title>h1{
			@include text($color_first, 3.188rem, 700, 70.81px, left);
			margin: 0;
			padding: 0;
			@media (max-width: 1200px) {
				text-align: center;
				font-size: 2.25rem;
				line-height: 45.24px;
			}
			@media (max-width: 700px) {
				font-size: 1.25rem;
				line-height: 27.24px;
			}
		}

		&__selected-text {
			color: $corporate_color;
			background: linear-gradient(91.26deg, $corporate_color 0.62%, $second_corporate_color 99.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		}

		&__text{
			@media (max-width: 1200px) {
				width: 100%;
				text-align: center;
			}
		}

		&__text>span {
			@include text($color_first, 1.5rem, 400, 32.68px, left);
			margin: 0;
			padding: 0;
			@media (max-width: 1200px) {
				text-align: center;
				font-size: 1.1rem;
				line-height: 24px;
			}
			@media (max-width: 700px) {
				font-size: 0.875rem;
				line-height: 19.07px;
			}
		}

		&__button{
			width: 284px;
			height: 61px;
			@media (max-width: 1200px) {
				width: 280px;
				height: 54px;
			}
		}

		&__block-image{
			@include blockContent(50%, 563px, 0px, flex, center, center);
			@media (max-width: 1200px) {
				order: 1;
			}
		}

		&__image {
			width: 591px;
			height: 441px;
			@media (max-width: 1200px) {
				width: 290px;
				height: 230px;
			}
			@media (max-width: 700px) {
				width: 242px;
				height: 187px;
			}
		}

		&__image>img{
			width: 591px;
			height: 441px;
			@media (max-width: 1200px) {
				width: 290px;
				height: 230px;
			}
			@media (max-width: 700px) {
				width: 242px;
				height: 187px;
			}
		}
}
