@import '../Main.scss';

.header{
	@include blockContent($size_main_blocks, 120px, auto, flex, center, space-between);

		@media (max-width: 1380px) {
			&{
				width: 95%;
			}
		}

		&__sandwich{
			display: none;
			@media (max-width: 700px) {
				width: 30px;
				height: 30px;
				display: block;
			}
		}

		&__menu{
			width: 35%;
			@media (max-width: 700px) {
				display: none;
			}
		}

		&__phone{
			@media (max-width: 700px) {
				display: none;
			}
		}

		&__call-back{
			@media (max-width: 700px) {
				display: none;
			}
		}

		&__call-back-image{
			display: none;
			@media (max-width: 700px) {
				width: 30px;
				height: 30px;
				cursor: pointer;
				display: block;
			}
		}

		&__call-back-image>img{
			width: 100%;
			height: auto;
		}
}