@import '../Main.scss';

.howWeWork{
	@include blockContent($size_main_blocks, 435px, 0px, flex, center, space-between);
	flex-direction: column;
	z-index: 9;

		@media (max-width: 1380px) {
			&{
				width: 95%;
			}
		}
}