@import '../Main.scss';

.cards{
	width: 100%;
	height: auto;
	@media (max-width: 1550px) {
		width: 382px;
		height: 400px;
		overflow: hidden;
	}

	&__wrapper{
		@include blockContent(100%, auto, 0px, flex, center, space-between);
		@media (max-width: 1550px) {
			width: 1182px;
		}
	}

	&__switch{
		display: none;
		@media (max-width: 1550px) {
			@include blockContent(170px, 26px, auto, flex, center, space-between);
			background-color: #1e1e1e;
			border-radius: 10%;
		}
	}

	&__arrow{
		width: 15px;
		height: auto;
	}

	&__arrow>img{
		width: 100%;
		height: auto;
	}
}

